.nav {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    padding: 0 1rem;
    box-shadow: 0 0 15px rgba(0, 0, 0, .4);
    background-color: white;
}

.logo {
    font-size: xx-large;
    height: 4rem;
    width: auto;
    user-select: none;
    display: grid;
    place-items: center;
    text-decoration: none;
    font-weight: bolder;
}