/* --------------------------------------- Chat Section --------------------------------------- */

.chatbot_frame {
    grid-column: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    background: white;
    overflow: hidden;
}

.chat_section {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-direction: column;
    width: 100%;
    height: 100%;
    overflow: hidden;
    margin-top: 0rem;
}

.chat_display {
    max-height: 100%;
    /* margin-top: 3.4rem; */
    width: 100%;
    border-radius: 5px;
    padding: 3rem 1.2rem 0.5rem 1.2rem;
    margin-bottom: 5.6rem;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    scroll-behavior: smooth;
}

.message {
    position: relative;
    margin-bottom: 15px;
    word-wrap: break-word;
    overflow-wrap: anywhere;
    font-weight: 500;
    font-size: 19px;
    line-height: 1.3em;
    padding: 1rem;
    padding-bottom: 0.2rem;
    width: fit-content;
    max-width: 80%;
    white-space: pre-wrap;
    display: flex;
    flex-direction: column;
    color: white;
    background-color: #4E6C50;
}

.user_message {
    display: flex;
    border-radius: 1.25rem 0.3125rem 1.25rem 1.25rem;
    margin-left: auto;
    column-gap: auto;
}

.chatbot_message {
    border-radius: 0.3125rem 1.25rem 1.25rem 1.25rem;
    display: flex;
    margin-right: auto;
}

.user_message .message_text {
    align-self: flex-end;
}

.chatbot_message .message_text {
    align-self: flex-start;
}

.message_text_cursor {
    display: inline-block;
    height: 15px;
    width: 4px;
    background-color: #FEFAFE;
    animation: blink 1s infinite;
    transform: translateY(1px);
}

@keyframes blink {
    0% {
        opacity: 0;
    }

    50% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

.message_img {
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 0.5rem;
}

.message_time {
    display: block;
    font-size: 12.5px !important;
    text-align: end;
    align-self: flex-end;
}

.spinner {
    border-radius: 0.3125rem 1.25rem 1.25rem 1.25rem;
    background: #4E6C50;
    word-wrap: break-word;
    overflow-wrap: anywhere;
    padding: 0.5rem 2rem;
    width: fit-content;
    max-width: 75%;
    white-space: pre-wrap;
    display: flex;
    flex-direction: column;
}

/* --------------------------------------- Input Section --------------------------------------- */

.input_section {
    box-sizing: border-box;
    position: absolute;
    width: 100%;
    bottom: 0;
    left: 0;
    z-index: 500;
    padding: 0.5rem;
    padding-bottom: 1rem;
    display: block;
    place-items: center;
}

.user_input {
    display: flex;
    /* box-shadow: 0px 2px 4px 1px rgba(0, 0, 0, 0.25); */
    padding: 0.5rem;
    border-radius: 0.625rem;
    background-color: transparent;
    /* box-shadow: 0 0 15px rgba(0, 0, 0, .1); */
    margin: 0 auto;
    box-sizing: border-box;
    height: 4rem;
}

.user_input input[type="text"] {
    flex-grow: 1;
    padding: 5px;
    padding-left: 15px;
    border-radius: 0.625rem 0 0 0.625rem;
    background: rgba(170, 139, 86, 0.32);
    height: 100%;
    color: rgba(0, 0, 0, 0.62);
    outline: none;
    border: none;
    caret-color: #AA8B56;

    font-size: 1.2em;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.user_input input[type="text"]::placeholder {
    color: rgba(0, 0, 0, 0.5);
}

.user_input button:disabled {
    filter: grayscale(1);
}

.user_input button {
    padding: 5px;
    height: 100%;
    aspect-ratio: 1/1;
    margin-left: 0;
    border: none;
    background: rgba(170, 139, 86, 0.32);
    border-radius: 0 0.625rem 0.625rem 0;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.send_icon {
    width: 70%;
    height: auto;
}